.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.ul {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  text-align: center;
  max-width: 300px;
  padding: 1rem;
  border-radius: 8px;
  color: inherit;
  font-size: 3rem;
  background-color: transparent;
  border: 1px solid #1e70878c;
  box-shadow: 1px 1px 3px #1e70878c;
}
.buttons {
  display: flex;
}
.iframe {
  width: 100%;
  height: 80dvh;
  max-width: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  border: 1px solid rgba(141, 141, 141, 0.251);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.429);
}


.a {
  font-size: inherit;
  border-radius: 4px;
  padding: 0.5rem;
  margin-right: 2rem;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #1e70878c;
  box-shadow: 1px 1px 3px #1e70878c;
}
.closeButton {
  position: absolute;
  top: -2.5rem;
  left: 0;
  z-index: 2;
}
.a {
  text-decoration: none;
  color: inherit;
}
.h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #4499b1;
}



@media screen and (max-width: 1024px) {
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  .section {
    gap: 5rem;
  }
  .ul {
    margin: 0;
  }
  .h1 {
  margin: 0;
  }
}
@media screen and (max-width: 1440px) {
  .section {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5rem;
  }
  .ul {
    margin: 0;
  }
  .h1 {
  margin: 0;
  }
}
