.Button {
    font-size: inherit;
    border-radius: 4px;
    padding: 0.5rem;
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #1e70878c;
    box-shadow: 1px 1px 3px #1e70878c;
  }
  .Button:hover {
    background-color: #1e70878c;
  }