.Button {
  display: flex;
  align-items: center;
  font-size: calc(14px + 0.4dvw);
  border-radius: 4px;
  padding: 0.4rem;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #65c854a6;
  box-shadow: 1px 1px 3px #65c85493;
}
.Button:hover {
  background-color: #65c854e6;
  color: #051928;
}
