.select {
  color: inherit;
  cursor: pointer;
  display: flex;
  justify-content: start;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid #65c854a5;
  box-shadow: 0 0 8px #65c85482;
}
.select:hover {
  background-color: #65c854;
}
.select:focus {
  outline: none;
  border-color: rgba(141, 141, 141, 0.7);
}


