.img {
  position: absolute;
  right: -7rem;
  top: -8rem;
  width: 100%;
  filter: drop-shadow(3px 3px 6px #0000009a);
  z-index: -10;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: 8rem;
}
.h2 {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.927);
}
.div {
  display: flex;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .section {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .aside {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img {
    display: block;
    width: 300px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.711);
    margin-right: 3rem;
  }
}
