.main {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 80vh;
  max-width: 1000px;
  margin: 10vh auto;
}

.img {
  max-width: 350px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.429);
}

.p {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: .5rem;
}

.h1 {
  margin: 0;
  font-size: 3rem;
  color: #1e7087;
}
.h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.div {
  display: flex;
  gap: 10px;
}
.a {
  font-size: 2rem;
  color: #1e7087;
  transition: all 0.3s ease-in-out;
}
.a:hover {
  color: #4499b1;
  scale: 110%;
}
