.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  max-width: 1000px;
  margin: 25dvh auto;
}

.img {
  max-width: 350px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.429);
}

.p {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: .5rem;
}

.h1 {
  margin: 0;
  font-size: 3rem;
  color: #1e7087;
}
.h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.div {
  display: flex;
  gap: 10px;
}
.a {
  font-size: 2rem;
  color: #1e7087;
  transition: all 0.3s ease-in-out;
}
.a:hover {
  color: #4499b1;
  scale: 110%;
}
@media screen and (max-width: 425px) {
  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10dvh 3rem;
  }
}
