.nav {
  position: fixed;
  width: 100%;
  top: 1.5rem;
  left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.div {
  display: flex;
  margin-right: 2rem;
  gap: 1rem;
}
.ul_open {
  padding: 0;
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  top: 25rem;
  right: -17rem;
  transition: all 0.8s ease-in-out;
  transform: rotate(-90deg);
  background-color: transparent;
  border: 1px solid #1e70878c;
  box-shadow: 1px 1px 3px #1e70878c;
}
.ul_close {
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  top: 25rem;
  right: -25rem;
  transition: all 0.8s ease-in-out;
  transform: rotate(-90deg);
  background-color: transparent;
  border: 1px solid #1e70878c;
  box-shadow: 1px 1px 3px #1e70878c;

}
.button {
  font-size: inherit;
  border-radius: 4px;
  padding: 0.3rem 1rem;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #1e70878c;
  box-shadow: 1px 1px 3px #1e70878c;
}
.button:hover {
  background-color: #1e70878c;
}
.li {
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  padding: 0.3rem 1rem;
  margin-bottom: 1.8rem;
  border: 1px solid transparent;
}
.li:hover {
  background-color: #1e7087f3;
  border: 1px solid #1e70878c;
  box-shadow: 1px 1px 3px #1e70878c;
}
.a {
  width: 100%;

}
