.nav {
  width: 100%;
  position: fixed;
  top: 1.5rem;
  left: 0;
  display: flex;
  align-items: start;
  justify-content: space-around;
}
.div {
  display: flex;
  gap: 1rem;
}
.nav_div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 1rem;
}
.ul_open {
  position: absolute;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  top: 3rem;
  padding: 0;
  align-items: flex-end;
  transition: all 0.5s ease-in-out;
}
.ul_close {
  position: absolute;
  margin: 0;
  list-style: none;
  display: none;
  top: 3rem;
  padding: 0;
  align-items: end;
  gap: 10px;
}

.button {
  font-size: inherit;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #1e70878c;
  box-shadow: 1px 1px 3px #1e70878c;
}
.li {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 4px;
  
  text-align: center;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  border-right: 1px solid #1e70878c;
  border-bottom: 1px solid #1e70878c;
  box-shadow: 1px 1px 3px #1e70878c;

}
.li:hover {
  background-color: #1e7087f3;
  border: 1px solid #1e70878c;
  box-shadow: 1px 1px 3px #1e70878c;

}
.a {
  padding: 0.5rem 2rem;
}

.button:hover {
  background-color: #1e70878c;
}

.li_open:hover {
  background-color: #1e70878c;
}
