.section {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: inherit;
}
.header, .main {
margin-left: 1rem;
}
.h2 {
  margin: 0;
  font-size: 2rem;
  color: #1e7087;
}
.h3 {
  font-size: 1.5rem;
}
