.header {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main {
  margin-bottom: 2rem;
}
.h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}
.h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.p {
  margin-bottom: .5rem;
}
@media screen and (min-width: 1024px) {
 .section {
  display: flex;
  margin-bottom: 5rem;

 }
 .header {
  margin: 0;
  justify-content: flex-end;
  align-items: start;
 }
 .main {
  width: 140%;
margin: 0;
 }
 .h3 {
  margin-bottom: .5rem;
 }
 .p {
 }
}