.switch {
  width: 3rem;
  height: 1.4rem;
  display: flex;
  background-color: transparent;
  border: 1px solid #65c854a5;
  box-shadow: 0 0 8px #65c85482;
  border-radius: 10px;
}
.icon_sun {
  color: #f6d039e3;
  margin: .2rem;
  cursor: pointer;
}
.icon_moon {
  color: #313131e3;
  margin: .2rem;
  cursor: pointer;
  margin-left: 1.8rem;
}
