.theme-toggle {
  color: inherit;
    cursor: pointer;
    display: flex;
    justify-content: start;
    width: 4rem;
    height: 2rem;
    border-radius: 10px;
    padding: .5rem;
    background-color: rgba(141, 141, 141, 0.251);
    border: 1px solid rgba(141, 141, 141, 0.251);
    box-shadow: 1px 1px 3px rgba(141, 141, 141, 0.251);
  }
  .theme-toggle:hover {
    background-color: rgba(141, 141, 141, 0.817);
    color: black;
    scale: 105%;
  }
  .dark-theme .theme-toggle {
    justify-content: end;
  }