/* :root {
  --body-bg-light: #ffffff;
  --text-color-light: #272727;
  --button-bg-light: #f0f0f0;
  --button-border-light: #cccccc;

  --body-bg-dark: #312e2ed7;
  --text-color-dark: #ffffff;
  --button-bg-dark: #8e8e8e95;
  --button-border-dark: #555555;
}

.light-theme {
  background-color: var(--body-bg-light);
  color: var(--text-color-light);
}

.dark-theme {
  background-color: var(--body-bg-dark);
  color: var(--text-color-dark);
} */
